<nav class="side-menu">
  <div class="menu-header">
    <h1>Admin Panel</h1>
  </div>
  <ul>
    <li><%= link_to 'Dashboard', admin_root_path %></li>
    <li><%= link_to 'Users', admin_root_path %></li>
    <li><%= link_to 'Resources', admin_root_path %></li>
  </ul>
</nav>
